*{
    color: black;
}
.book-pic{
    display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.book-card{
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
    background-color:rgb(255, 255, 107);
}
.search-jumbotron{
    text-align: center;
}